#main {
    margin: 0 10vw 0 10vw;
}


#container {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    background-color: black; 
}

#img-div {
    text-align: center;
    grid-column: 2 / 8;
    justify-self: center; 
}

#image {
    max-width: 100%;
    height: auto;
    max-width: 625px;
    margin-left: auto;
    margin-right: auto;
    display: block; 
}

.title-container {
    grid-column: 1 / 7;
    justify-self: start;
    padding-left: 20px;
    color: silver;
}

#title {
    font-family: 'Roboto Slab', serif;
    font-size: 2.8em;
    font-weight: 400;
    margin-bottom: 0;
    color: salmon;
}

#sub-title {
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    margin: 0;
}

#img-div > p {
    text-align: right;
}

#img-caption {
    grid-row: 3 / 4;
    align-self: flex-end;
    justify-self: end;
    padding-right: 20px;
    color: silver;
    font-family: 'Roboto', 'sans-serif';
    font-weight: 100;
    font-size: 0.8em;
}

.title-container, #img-div {
    grid-row: 2 / 3;
}

#tribute-info {
    display: grid;
    grid-template-columns: 1fr 30vw;
    grid-gap: 30px;
    margin: 50px 0 0 0;
}

#bio, h4 {
    grid-column: 1 / 2;
    font-family: 'Roboto', 'serif';
    font-weight: 300;
    font-size: 1em;
    line-height: 28px;
    text-align: justify;
}

#tribute-link {
    text-decoration: none;
    color: salmon;
    font-weight: bolder;
}

#video {
    grid-column: 2 / 3;
    justify-self: flex-end;
    padding: 20px 0 0 40px;
}

#video-1 {
    margin: 0 0 20px 0;
}

@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2) {
    
    #bio, h4 {
        grid-column: 1 / -1;
        font-size: 1.2em;
    }
    
    #video {
        grid-column: 1 / -1;
        text-align: center;  
    }

    iframe {
        width: 600px;
        height: 315px;
    }

}